.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;

  width: 15rem;
  height: 5rem;
  font-size: 17px;
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.4s ease-out;
  background-color: #5ca08e;
  color: white;
}
