.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #006a4e;
  color: #b8d5ce;
}

.fa-github {
  font-size: 4rem;
  text-decoration: none;
  color: #b8d5ce;
}

.fa-github:hover {
  color: #8abaae;
}
