.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
  margin-bottom: 2em;
  background-color: #006a4e;
  color: #b8d5ce;
}
